Repository ellipticbit/coalescence-dotnet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Shared Test Deployment, Shared Production Deployment, Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment

Shared Test Deployment:
  stage: shared
  tags:
  - linux
  - dotnet
  script:
  - dotnet restore ./Shared/Shared.csproj
  - dotnet pack -c Debug -o ./ ./Shared/Shared.csproj

Shared Production Deployment:
  stage: shared
  tags:
  - linux
  - dotnet
  script:
  - pwsh -f "./ReplaceVersion-Shared.ps1"
  - dotnet restore ./Shared/Shared.csproj --configfile ./NuGet.config
  - dotnet pack -c Release -o ./ ./Shared/Shared.csproj --configfile ./NuGet.config
  ...

Client Test Deployment:
  stage: library
  tags:
  - linux
  - dotnet
  script:
  - dotnet restore ./Request/Request.csproj --configfile ./NuGet.config
  - dotnet pack -c Debug -o ./ ./Request/Request.csproj --configfile ./NuGet.config

Client Production Deployment:
  stage: library
  tags:
  - linux
  - dotnet
  script:
  - pwsh -f "./ReplaceVersion-Request.ps1"
  - dotnet restore ./Request/Request.csproj --configfile ./NuGet.config
  - dotnet pack -c Release -o ./ ./Request/Request.csproj --configfile ./NuGet.config
  ...

AspNetCore Test Deployment:
  stage: library
  tags:
  - linux
  - dotnet
  script:
  - dotnet restore ./AspNetCore/AspNetCore.csproj --configfile ./NuGet.config
  - dotnet pack -c Debug -o ./ ./AspNetCore/AspNetCore.csproj

AspNetCore Production Deployment:
  stage: library
  tags:
  - linux
  - dotnet
  script:
  - pwsh -f "./ReplaceVersion-AspNetCore.ps1"
  - dotnet restore ./AspNetCore/AspNetCore.csproj --configfile ./NuGet.config
  - dotnet pack -c Release -o ./ ./AspNetCore/AspNetCore.csproj --configfile ./NuGet.config
  ...

SignalR Test Deployment:
  stage: library
  tags:
  - linux
  - dotnet
  script:
  - dotnet restore ./SignalR/SignalR.csproj --configfile ./NuGet.config
  - dotnet pack -c Debug -o ./ ./SignalR/SignalR.csproj

SignalR Production Deployment:
  stage: library
  tags:
  - linux
  - dotnet
  script:
  - pwsh -f "./ReplaceVersion-SignalR.ps1"
  - dotnet restore ./SignalR/SignalR.csproj --configfile ./NuGet.config
  - dotnet pack -c Release -o ./ ./SignalR/SignalR.csproj --configfile ./NuGet.config
  ...

Update packages in Shared.
  Shared/Shared.csproj
Due: Shared Test Deployment, Shared Production Deployment

Add extension methods for single-value Queries and Headers.
  Shared/Request/ICoalescenceRequestBuilderExtensions.cs
Due: Shared Test Deployment, Shared Production Deployment

Do not add Query or Header keys if the array or all of its items are null. Update packages.
  AspNetCore/AspNetCore.csproj
  Request/CoalescenceRequestBuilder.cs
  Request/Request.csproj
  Shared/Request/ICoalescenceRequestBuilderExtensions.cs
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
Due: Shared Test Deployment, Shared Production Deployment, Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment

Update packages.
  Shared/Shared.csproj
Due: Shared Test Deployment, Shared Production Deployment

Remove old WebUtilities package and replace with EB Extensions. Update packages.
  AspNetCore/AspNetCore.csproj
  Request/CoalescenceRequestBuilder.cs
  Request/Request.csproj
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
Due: Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment

Add Extensions methods for ICoalesnceRequestBuilder.
  Shared/Request/ICoalescenceRequestBuilder.cs
Due: Shared Test Deployment, Shared Production Deployment

Remove duplicate extensions.
  Shared/Request/ICoalescenceRequestBuilder.cs
Due: Shared Test Deployment, Shared Production Deployment

Remove IFormattable from primitive generic constraints to allow bool types.
  Shared/Request/ICoalescenceRequestBuilder.cs
  Shared/Request/ICoalescenceRequestBuilderExtensions.cs
Due: Shared Test Deployment, Shared Production Deployment

Upgrade package to apply new generic constraints.
  AspNetCore/AspNetCore.csproj
  Request/CoalescenceRequestBuilder.cs
  Request/Request.csproj
Due: Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment

Add support for ZStandard compression options.
  Shared/Shared.csproj
  Shared/ZStdCompressionOptions.cs
Due: Shared Test Deployment, Shared Production Deployment

Add content encoding methods.
  Shared/Request/ICoalescenceRequestBuilder.cs
Due: Shared Test Deployment, Shared Production Deployment

Add ZStandard compression provider for ASP.NET Core and HttpClient delegating handler. Fix bug in ASP.NET Core multi-part handling. Updates packages.
  AspNetCore/AspNetCore.csproj
  AspNetCore/CoalescenceControllerBase.cs
  AspNetCore/ZStdCompressionProvider.cs
  Request/CoalescenceRequestBuilder.cs
  Request/Request.csproj
  Request/ZStdDelegatingHandler.cs
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
Due: Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment

Add IDisposable to ICoalescenceResponse.
  Shared/Request/ICoalescenceResponse.cs
Due: Shared Test Deployment, Shared Production Deployment

Fix potential use-after-dispose.
  AspNetCore/AspNetCore.csproj
  Request/CoalescenceRequestBuilder.cs
  Request/CoalescenceResponse.cs
  Request/Request.csproj
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
Due: Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment

Remove IOptions from ZStdCompressionOptions. Improve usings in Send().
  AspNetCore/ZStdCompressionProvider.cs
  Request/CoalescenceRequestBuilder.cs
  Request/ZStdDelegatingHandler.cs
  Shared/ZStdCompressionOptions.cs
Due: Shared Test Deployment, Shared Production Deployment, Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment

Fix possible nullref in ZStd SendAsync.
  Request/ZStdDelegatingHandler.cs
Due: Client Test Deployment, Client Production Deployment

Fix content encoding construction.
  Request/CoalescenceRequestBuilder.cs
Due: Client Test Deployment, Client Production Deployment

Fix ZStd delegating handler.
  Request/ZStdDelegatingHandler.cs
Due: Client Test Deployment, Client Production Deployment

Update Shared packages.
  Shared/Shared.csproj
Due: Shared Test Deployment, Shared Production Deployment

Update packages.
  AspNetCore/AspNetCore.csproj
  Request/Request.csproj
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
Due: Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment

Fix invalid request reuse. Improve retry logic. Ensure HTTPClient is properly cleaned up on Exceptions.
  Request/CoalescenceRequestBuilder.cs
  Request/CoalescenceRequestOptions.cs
  UnitTests/RequestClient.cs
Due: Client Test Deployment, Client Production Deployment

Update packages for Shared.
  Shared/Shared.csproj
Due: Shared Test Deployment, Shared Production Deployment

Update packages.
  AspNetCore/AspNetCore.csproj
  Request/Request.csproj
  SignalR/SignalR.csproj
  UnitTests/RequestClient.cs
  UnitTests/UnitTests.csproj
Due: Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment

Add initial implementation of Tracking Objects.
  .gitlab-ci.yml
  AspNetCore/AspNetCore.csproj
  Coalescence-DotNet.sln
  ReplaceVersion-Windows.ps1
  Shared/BindingObject.cs
  UnitTests/Tracking.cs
  UnitTests/UnitTests.csproj
  Windows/HashKeyHelper.cs
  Windows/TrackingCache.cs
  Windows/TrackingObject.cs
  Windows/TrackingValue.cs
  Windows/Windows.csproj
Due: Shared Test Deployment, Shared Production Deployment, Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment

Update packages.
  AspNetCore/AspNetCore.csproj
  Request/Request.csproj
  Shared/Shared.csproj
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
  Windows/Windows.csproj
Due: Shared Test Deployment, Shared Production Deployment, Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment

Fix build script.
  .gitlab-ci.yml
Due: Shared Test Deployment, Shared Production Deployment, Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment

Update Windows package build numbers.
  .gitlab-ci.yml
  ReplaceVersion-Windows.ps1
Due: Shared Test Deployment, Shared Production Deployment, Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment

Rename TrackingObject to TrackingObjectBase to fix TrackingObject RehashKey not be implemented in .NET 4.8 apps.
  Windows/TrackingObject.cs
  Windows/TrackingValue.cs
Due: none

Fix null collection handling. Sealed RegistrationCompleted.
  Windows/TrackingObject.cs
  Windows/TrackingValue.cs
Due: none

Fix nullref exception when collection value is null.
  Windows/TrackingObject.cs
Due: none

Disable thread access checks during deserialization.
  Windows/TrackingObject.cs
Due: none

Fix incorrect logic for isDeserializing.
  Windows/TrackingObject.cs
Due: none

Add restrictions on change event propagation. Add missing collection getter methods.
  UnitTests/Tracking.cs
  Windows/TrackingObject.cs
Due: none

Add HTTP 4xx error handling.
  Request/CoalescenceRequestBuilder.cs
  Request/CoalescenceRequestOptions.cs
Due: Client Test Deployment, Client Production Deployment

Removed unnecessary token validation methods from Authentication handlers.
  Shared/CoalescenceNullAuthentication.cs
  Shared/ICoalescenceAuthentication.cs
  Shared/Request/ICoalescenceRequestBuilder.cs
Due: Shared Test Deployment, Shared Production Deployment

Add support for multi-tenancy enabled authentication handlers.
  Shared/CoalescenceNullAuthentication.cs
  Shared/ICoalescenceAuthentication.cs
  Shared/Request/ICoalescenceRequestFactory.cs
  Shared/Shared.csproj
Due: Shared Test Deployment, Shared Production Deployment

Add support for multi-tenency enable authentication handlers. Update packages.
  AspNetCore/AspNetCore.csproj
  Request/CoalescenceRequest.cs
  Request/CoalescenceRequestBuilder.cs
  Request/CoalescenceRequestFactory.cs
  Request/Request.csproj
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
  Windows/Windows.csproj
Due: Client Test Deployment, Client Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment

Rename HashKeyHelper to HashKeyBuilder. Add more helper methods.
  UnitTests/Tracking.cs
  Windows/HashKeyBuilder.cs
  Windows/HashKeyExtensions.cs
  Windows/HashKeyHelper.cs
Due: none

Path conditions:
  Shared Test Deployment: any of: Shared/**/*, .gitlab-ci.yml
  Shared Production Deployment: any of: Shared/**/*, .gitlab-ci.yml
  Client Test Deployment: any of: Request/**/*, .gitlab-ci.yml
  Client Production Deployment: any of: Request/**/*, .gitlab-ci.yml
  AspNetCore Test Deployment: any of: AspNetCore/**/*, .gitlab-ci.yml
  AspNetCore Production Deployment: any of: AspNetCore/**/*, .gitlab-ci.yml
  SignalR Test Deployment: any of: SignalR/**/*, .gitlab-ci.yml
  SignalR Production Deployment: any of: SignalR/**/*, .gitlab-ci.yml
