Repository ellipticbit/coalescence-dotnet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Shared Test Deployment, Shared Production Deployment, Client Test Deployment, Client Production Deployment

.gitlab-ci.yml:

before_script:
  - "git clean -fdxq"
  - "git submodule sync --recursive"
  - "git submodule foreach --recursive git reset --hard"
  - "git submodule update --init --recursive"

stages:
  - shared
  - library

Shared Test Deployment:
  stage: shared
  tags:
    - linux
    - dotnet

  except:
    refs:
      - master
  only:
    changes:
      - Shared/**/*

  script:
    - "dotnet restore ./Shared/Shared.csproj"
    - "dotnet pack -c Debug -o ./ ./Shared/Shared.csproj"

Shared Production Deployment:
  stage: shared
  tags:
    - linux
    - dotnet

  only:
    refs:
      - master
    changes:
      - Shared/**/*

  script:
    - "dotnet restore ./Shared/Shared.csproj"
    - "pwsh -f \"./ReplaceVersion-Shared.ps1\""
    - "dotnet pack -c Release -o ./ ./Shared/Shared.csproj"
    - "dotnet nuget push *.nupkg -k $NUGET_API_KEY -s \"https://www.nuget.org\""

Client Test Deployment:
  stage: library
  needs: ["Shared Test Deployment"]
  tags:
    - linux
    - dotnet

  except:
    refs:
      - master
  only:
    changes:
      - Request/**/*

  script:
    - "dotnet restore ./Request/Request.csproj"
    - "dotnet add ./Request/Request.csproj package EllipticBit.Hotwire.Shared"
    - "dotnet pack -c Debug -o ./ ./Request/Request.csproj"

Client Production Deployment:
  stage: library
  needs: ["Shared Production Deployment"]
  tags:
    - linux
    - dotnet

  only:
    refs:
      - master
    changes:
      - Request/**/*

  script:
    - "dotnet restore ./Request/Request.csproj"
    - "pwsh -f \"./ReplaceVersion-Request.ps1\""
    - "dotnet add ./Request/Request.csproj package EllipticBit.Hotwire.Shared"
    - "dotnet pack -c Release -o ./ ./Request/Request.csproj"
    - "dotnet nuget push *.nupkg -k $NUGET_API_KEY -s \"https://www.nuget.org\""

Fix deployment script.
  .gitlab-ci.yml
Due: none

Fix packages.
  AspNetCore/AspNetCore.csproj
  Request/Request.csproj
Due: Client Test Deployment, Client Production Deployment

Cleanup.
  Request/HotwireRequestFactory.cs
Due: Client Test Deployment, Client Production Deployment

Add support for query/header parameter classes. Removed Base64 handlers. Added EB Base64 extensions.
  AspNetCore/AspNetCore.csproj
  AspNetCore/HotwireControllerBase.cs
  AspNetCore/HotwireControllerOptions.cs
  Request/HotwireRequestBuilder.cs
  Request/HotwireRequestFactory.cs
  Request/IHotwireParameters.cs
  Request/IHotwireRequestBuilder.cs
  Request/Request.csproj
  Shared/Shared.csproj
  UnitTests/UnitTests.csproj
Due: Shared Test Deployment, Shared Production Deployment, Client Test Deployment, Client Production Deployment

Update packages. Update build script.
  .gitignore
  .gitlab-ci.yml
  Hotwire-DotNet.sln
  NuGet.config
  ReplaceVersion-Request.ps1
  Request/Request.csproj
  SetEnvValues.ps1
  UnitTests/UnitTests.csproj
Due: Client Test Deployment, Client Production Deployment

Fix build script
  .gitlab-ci.yml
Due: none

Fix version injection. Use Nuget.org.
  .gitlab-ci.yml
  ReplaceVersion-Request.ps1
Due: none

Add SignalR library.
  .gitlab-ci.yml
  Hotwire-DotNet.sln
  Hotwire-NetCore.sln.DotSettings
  ReplaceVersion-SignalR.ps1
  Request/Request.csproj
  SignalR/HotwireSignalRRepository.cs
  SignalR/IHotwireSignalRRepository.cs
  SignalR/IHotwireSignalRServiceBuilder.cs
  SignalR/ServiceCollectionExtensions.cs
  SignalR/SignalR.csproj
  UnitTests/SignalRClient.cs
  UnitTests/UnitTests.csproj
Due: Client Test Deployment, Client Production Deployment

Fix Repo constructor.
  SignalR/HotwireSignalRRepository.cs
Due: none

Add IAsyncDisposable to HotwireResponse.
  .gitlab-ci.yml
  Request/HotwireClientServiceCollectionExtensions.cs
  Request/HotwireRequestBuilder.cs
  Request/HotwireResponse.cs
Due: Client Test Deployment, Client Production Deployment

Update packages.
  Shared/Shared.csproj
Due: Shared Test Deployment, Shared Production Deployment

Move IAsyncDisposable to IHotwireResponse. Update packages.
  AspNetCore/AspNetCore.csproj
  Request/HotwireResponse.cs
  Request/IHotwireResponse.cs
  Request/Request.csproj
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
Due: Client Test Deployment, Client Production Deployment

Request retry logic bug fixes.
  Request/HotwireRequestBuilder.cs
  UnitTests/RequestClient.cs
  UnitTests/UnitTests.csproj
Due: Client Test Deployment, Client Production Deployment

Return default/null when response is empty/error. Added support for DateTime/Offset formatting in Path/Query/Headers.
  Request/HotwireRequestBuilder.cs
  Request/HotwireRequestOptions.cs
  Request/HotwireResponse.cs
  Request/Request.csproj
Due: Client Test Deployment, Client Production Deployment

Add support for setting options on the default serializers.
  Shared/HotwireOptionsBase.cs
Due: Shared Test Deployment, Shared Production Deployment

Update Shared.
  AspNetCore/AspNetCore.csproj
  Request/HotwireRequestOptions.cs
  Request/Request.csproj
Due: Client Test Deployment, Client Production Deployment

Remove unnecessary type constraints.
  Request/HotwireRequestBuilder.cs
  Request/IHotwireRequestBuilder.cs
  UnitTests/RequestClient.cs
Due: Client Test Deployment, Client Production Deployment

Update Shared.
  AspNetCore/AspNetCore.csproj
  Coalescence-DotNet.sln
  Request/Request.csproj
Due: Client Test Deployment, Client Production Deployment

Add BindingObject
  Shared/BindingObject.cs
Due: Shared Test Deployment, Shared Production Deployment

Update packages.
  AspNetCore/AspNetCore.csproj
  Request/Request.csproj
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
Due: Client Test Deployment, Client Production Deployment

Remove HttpContentScheme.
  AspNetCore/AspNetCore.csproj
  LICENSE
  Request/ICoalescenceRequestFactory.cs
  Request/Request.csproj
  Shared/HttpContentScheme.cs
  Shared/MultipartContentItem.cs
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
Due: Shared Test Deployment, Shared Production Deployment, Client Test Deployment, Client Production Deployment

Update packages.
  AspNetCore/AspNetCore.csproj
  Request/HttpContentScheme.cs
  Request/Request.csproj
Due: Client Test Deployment, Client Production Deployment

Fix default serializer selection.
  Request/CoalescenceContentItem.cs
  UnitTests/RequestClient.cs
Due: Client Test Deployment, Client Production Deployment

Fix BindingObject. Add Name property to ICoalesenceAuthentication to allow multiple authenticator using the same HTTP scheme. Upgrade packages to .NET 8.0.
  Shared/BindingObject.cs
  Shared/CoalescenceNullAuthentication.cs
  Shared/ICoalescenceAuthentication.cs
  Shared/IEnumerableExtensions.cs
  Shared/Shared.csproj
Due: Shared Test Deployment, Shared Production Deployment

Comment out EB NuGet feed.
  NuGet.config
Due: none

Remove NuGet.config
  .gitlab-ci.yml
  Coalescence-DotNet.sln
  NuGet.config
  SetEnvValues.ps1
Due: none

Update packages to .NET 8.0.
  AspNetCore/AspNetCore.csproj
  Request/Request.csproj
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
Due: Client Test Deployment, Client Production Deployment

Remove authenticators from options and move them to the ServiceProvider.
  Shared/CoalescenceOptionsBase.cs
  Shared/CoalescenceServiceCollectionExtensions.cs
Due: Shared Test Deployment, Shared Production Deployment

Update Shared and move authenticators to the constructors.
  AspNetCore/AspNetCore.csproj
  Request/CoalescenceRequest.cs
  Request/CoalescenceRequestBuilder.cs
  Request/CoalescenceRequestFactory.cs
  Request/CoalescenceRequestOptions.cs
  Request/Request.csproj
  UnitTests/RequestClient.cs
Due: Client Test Deployment, Client Production Deployment

Fix bug in authentication selection.
  Shared/IEnumerableExtensions.cs
Due: Shared Test Deployment, Shared Production Deployment

Update Shared.
  AspNetCore/AspNetCore.csproj
  Request/Request.csproj
  UnitTests/UnitTests.csproj
Due: Client Test Deployment, Client Production Deployment

Do not add Auth header with null scheme.
  Request/CoalescenceRequestBuilder.cs
Due: Client Test Deployment, Client Production Deployment

Fix GetCoalescenceAuthentication
  Shared/IEnumerableExtensions.cs
Due: Shared Test Deployment, Shared Production Deployment

Update Shared.
  AspNetCore/AspNetCore.csproj
  Request/Request.csproj
Due: Client Test Deployment, Client Production Deployment

Simply Authentication interface. Move Request intefaces to Shared.
  Shared/CoalescenceNullAuthentication.cs
  Shared/ICoalescenceAuthentication.cs
  Shared/Request/CoalescenceResponseException.cs
  Shared/Request/ICoalescenceMultipartContentBuilder.cs
  Shared/Request/ICoalescenceParameters.cs
  Shared/Request/ICoalescenceRequest.cs
  Shared/Request/ICoalescenceRequestBuilder.cs
  Shared/Request/ICoalescenceRequestFactory.cs
  Shared/Request/ICoalescenceResponse.cs
Due: Shared Test Deployment, Shared Production Deployment

Fix Exception name and constructor visibility.
  Shared/Request/CoalescenceResponseException.cs
  Shared/Request/ICoalescenceResponse.cs
Due: Shared Test Deployment, Shared Production Deployment

Update for moved interfaces.
  AspNetCore/AspNetCore.csproj
  Request/CoalescenceClientServiceCollectionExtensions.cs
  Request/CoalescenceMultipartContentBuilder.cs
  Request/CoalescenceRequest.cs
  Request/CoalescenceRequestBuilder.cs
  Request/CoalescenceRequestFactory.cs
  Request/CoalescenceResponse.cs
  Request/CoalescenceResponseError.cs
  Request/ICoalescenceMultipartContentBuilder.cs
  Request/ICoalescenceParameters.cs
  Request/ICoalescenceRequest.cs
  Request/ICoalescenceRequestBuilder.cs
  Request/ICoalescenceRequestFactory.cs
  Request/ICoalescenceResponse.cs
  Request/Request.csproj
  UnitTests/RequestClient.cs
Due: Client Test Deployment, Client Production Deployment

Add DefaultAuthenticationScheme
  Request/CoalescenceRequestOptions.cs
Due: Client Test Deployment, Client Production Deployment

Fix authentication selector.
  Request/CoalescenceRequestBuilder.cs
Due: Client Test Deployment, Client Production Deployment
