Repository ellipticbit/coalescence-dotnet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Shared Test Deployment, Shared Production Deployment, Request Test Deployment, Request Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment, Windows Test Deployment, Windows Production Deployment

Path conditions:
  Shared Test Deployment: any of: Shared/**/*, .gitlab-ci.yml, ReplaceVersion-Shared.ps1
  Shared Production Deployment: any of: Shared/**/*, .gitlab-ci.yml, ReplaceVersion-Shared.ps1
  Request Test Deployment: any of: Request/**/*, .gitlab-ci.yml, ReplaceVersion-Request.ps1
  Request Production Deployment: any of: Request/**/*, .gitlab-ci.yml, ReplaceVersion-Request.ps1
  AspNetCore Test Deployment: any of: AspNetCore/**/*, .gitlab-ci.yml, ReplaceVersion-AspNetCore.ps1
  AspNetCore Production Deployment: any of: AspNetCore/**/*, .gitlab-ci.yml, ReplaceVersion-AspNetCore.ps1
  SignalR Test Deployment: any of: SignalR/**/*, .gitlab-ci.yml, ReplaceVersion-SignalR.ps1
  SignalR Production Deployment: any of: SignalR/**/*, .gitlab-ci.yml, ReplaceVersion-SignalR.ps1
  Windows Test Deployment: any of: Windows/**/*, .gitlab-ci.yml, ReplaceVersion-Windows.ps1
  Windows Production Deployment: any of: Windows/**/*, .gitlab-ci.yml, ReplaceVersion-Windows.ps1

Move extensions back to Request builder to address incorrect overload selection.
  Shared/Request/ICoalescenceRequestBuilder.cs
  Shared/Request/ICoalescenceRequestBuilderExtensions.cs
Due: Shared Test Deployment, Shared Production Deployment

Update Shared.
  AspNetCore/AspNetCore.csproj
  Request/CoalescenceRequestBuilder.cs
  Request/Request.csproj
Due: Request Test Deployment, Request Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment

Remove unnecessary disposals.
  Request/CoalescenceRequestBuilder.cs
  Request/CoalescenceResponse.cs
  UnitTests/RequestClient.cs
Due: Request Test Deployment, Request Production Deployment

Correctly handle remote null value assignments in TrackingCollections.
  Windows/TrackingValue.cs
Due: Windows Test Deployment, Windows Production Deployment

Add route constraints for paramter types that Coalescence can generate.
  AspNetCore/Constraints/ByteConstraint.cs
  AspNetCore/Constraints/DateTimeOffsetConstraint.cs
  AspNetCore/Constraints/SByteConstraint.cs
  AspNetCore/Constraints/ShortConstraint.cs
  AspNetCore/Constraints/TimeSpanConstraint.cs
  AspNetCore/Constraints/UIntConstraint.cs
  AspNetCore/Constraints/ULongConstraint.cs
  AspNetCore/Constraints/UShortConstraint.cs
  AspNetCore/Extensions.cs
  AspNetCore/ZStdCompressionProvider.cs
Due: AspNetCore Test Deployment, AspNetCore Production Deployment

Add HTTP exceptions. Update packages.
  AspNetCore/AspNetCore.csproj
  AspNetCore/CoalescenceExceptionMiddleware.cs
  Request/Request.csproj
  Shared/Shared.csproj
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
  Windows/Windows.csproj
Due: Shared Test Deployment, Shared Production Deployment, Request Test Deployment, Request Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment, Windows Test Deployment, Windows Production Deployment

Add ICoalescenceWebApiService interface to use for identifying service implementations.
  AspNetCore/CoalescenceExceptionMiddleware.cs
Due: AspNetCore Test Deployment, AspNetCore Production Deployment

Add ICoalescenceWebApiService interface to use for identifying service implementations.
  AspNetCore/ICoalescenceWebApiService.cs
Due: AspNetCore Test Deployment, AspNetCore Production Deployment

Update packages.
  Shared/Shared.csproj
Due: Shared Test Deployment, Shared Production Deployment

Update packages.
  AspNetCore/AspNetCore.csproj
  Request/Request.csproj
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
  Windows/Windows.csproj
Due: Request Test Deployment, Request Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment, Windows Test Deployment, Windows Production Deployment

Updated Shared package for code-signing and added a README.
  .gitlab-ci.yml
  PROMPTS.txt
  Shared/README.md
  Shared/Shared.csproj
  icon.png
Due: Shared Test Deployment, Shared Production Deployment, Request Test Deployment, Request Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment, Windows Test Deployment, Windows Production Deployment

Fix incorrectly running signing attempt.
  .gitlab-ci.yml
  Shared/Shared.csproj
Due: Shared Test Deployment, Shared Production Deployment, Request Test Deployment, Request Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment, Windows Test Deployment, Windows Production Deployment

Fix build script.
  .gitlab-ci.yml
  Shared/Shared.csproj
Due: Shared Test Deployment, Shared Production Deployment, Request Test Deployment, Request Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment, Windows Test Deployment, Windows Production Deployment

Updated remaining packages for code-signing and added a README.
  AspNetCore/AspNetCore.csproj
  AspNetCore/README.md
  Request/README.md
  Request/Request.csproj
  SignalR/README.md
  SignalR/SignalR.csproj
  UnitTests/UnitTests.csproj
  Windows/README.md
  Windows/Windows.csproj
Due: Request Test Deployment, Request Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment, Windows Test Deployment, Windows Production Deployment

Fix build error.
  .gitlab-ci.yml
  SignalR/SignalR.csproj
Due: Shared Test Deployment, Shared Production Deployment, Request Test Deployment, Request Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment, Windows Test Deployment, Windows Production Deployment

Fix build error.
  AspNetCore/AspNetCore.csproj
  Request/Request.csproj
  SignalR/SignalR.csproj
  Windows/Windows.csproj
Due: Request Test Deployment, Request Production Deployment, AspNetCore Test Deployment, AspNetCore Production Deployment, SignalR Test Deployment, SignalR Production Deployment, Windows Test Deployment, Windows Production Deployment

Update packages.
  Request/Request.csproj
Due: Request Test Deployment, Request Production Deployment
